/* Стили для index.html*/

/* Hero */

.hero {
    background-color: #2F303A;
}

.hero .hero-title {
    color: #FFFFFF;
}

.hero-button {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/* For all sections */

.section .section-title {
    color: var(--title-text-color)
}

/* Features */

.feature-list .title {
    color: var(--title-text-color);
}

.feature-list {
    list-style: none;
}

/* Work */

.work-list {
    list-style: none;
}

/* Our team */

.team-list {
    list-style: none;
}

.team-list .title {
    color: var(--title-text-color);
}

.team-section {
    background-color: #F5F4FA;
}

/* Стили для portfolio.html*/

.filter-list {
    list-style: none;
}

.button {
    color: var(--title-text-color);
    background-color: var(--primary-bg-button);
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.example-list {
    list-style: none;
}

.example-list .title {
    color: var(--title-text-color);
}