/* Common styles */

body {
  background-color: var(--primary-bg-color);
  color: var(--slate-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.32px;
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --white-color: #ffffff;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
  --dairy-color: rgba(46, 47, 66, 0.4);
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy-blue-color);
}

/* index.html styles */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

/* Header */

.logo {
  font-family: Raleway, sans-serif;
  color: var(--iris-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-text {
  color: var(--navy-blue-color);
}

.nav-link {
  color: var(--navy-blue-color);
  font-weight: 500;
  font-style: normal;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-color);
}

.contacts {
  font-style: normal;
}

.address-link {
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-color);
}

/* Hero section */

.hero {
  background-color: var(--navy-blue-color);
}

.hero-title {
  font-size: 56px;
  color: var(--white-color);
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: var(--iris-color);
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

/* Peculiarities section */

.peculiarities-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.peculiarities-card-text {
  letter-spacing: 0.02em;
}

/* Our Team section */

.team {
  background-color: var(--cloud-color);
}

.team-list-item {
  background-color: var(--white-color);
}

.team-list-item h3 {
  text-align: center;
}

.team-card-text {
  font-size: 16px;
  text-align: center;
}

/* Portfolio section */

.portfolio-card-text {
}

/* Footer */

.footer {
  background-color: var(--navy-blue-color);
}

.secondary-logo-text {
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
}
